body{
    margin: 0;
    background-image:url(fundo.png);
}

.cabecalho{
   display: flex;
    background-color: #370000;
    height: 100px;
    align-items: center;
}

.bemvindo{
    font-size: 70px;
    color: white;
    padding-left: 2cm;
}

.fundoCinza{
    height: 800px;
    width: 1500px;
    background-color: #D9D9D9;
    margin-top: 200px;
    margin: auto;
}

.logofundoCinza{
    text-align: center;
}

.burgerdelivery{
    text-align: center;
    font-size: 100px;
}

.burgerCarne{
    display: inline-block;
    height: 200px;
    width: 480px;
    margin-left: 90px;
    background-color: #370000;
    text-align: center; 
    margin-top: 30px;
}

.lblBurgerCarne{
    font-size: 40px;
    color: #D9D9D9;
    margin: auto;
    padding-top: 140px;
}

.burgerFrango{
    display: inline-block;
    height: 200px;
    width: 480px;
    margin-left: 90px;
    background-color: #370000;
    text-align: center;
    margin-top: 50px; 
}

.Pedidos{
    display: inline-block;
    height: 200px;
    width: 480px;
    margin-left: 90px;
    background-color: #370000;
    text-align: center; 
    margin-top: 30px;
}

.lblPedidos{
    font-size: 40px;
    color: #D9D9D9;
    margin: auto;
    padding-top: 140px;
}

.quemSomos{
    display: inline-block;
    height: 200px;
    width: 480px;
    margin-left: 90px;
    background-color: #370000;
    text-align: center; 
    margin-top: 30px;
}

.lblquemSomos{
    font-size: 40px;
    color: #D9D9D9;
    margin: auto;
    padding-top: 140px;
}

.bagulinhos{
    display: inline-block;
    align-content: center;
    margin-left: 8.5%;
}  

#as {
    text-decoration: none;
}

.cadastro{
    background-color: white;
    color: #370000;
    font-size: 35px;
    height: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 10px rgb(136, 55, 55);
    margin-left: 790px;
    text-decoration: none;                                 
}

.contato{
    background-color: white;
    color: #370000;
    font-size: 35px;
    height: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 10px rgb(136, 55, 55);
    margin-left: 40px; 
}

.Home{
    background-color: white;
    color: #370000;
    font-size: 35px;
    height: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 10px rgb(136, 55, 55);
    margin: auto;
}

.fotoperfil{
    display: inline-block;
}

.titulocarne{
    color: white;
    font-size: 80px;
    padding-left: 450px;
}

.titulofrango{
    color: white;
    font-size: 80px;
    padding-left: 450px;
}

.carnes{
    display: block;
    height: 100px;
    background-color: red;
    width: 100px;
}

.titulocadastro{
    color: white;
    font-size: 80px;
    padding-left: 700px;
}

.titulocontato{
    color: white;
    font-size: 80px;
    padding-left: 550px;
}

.fundoCinzaCadastro{
    height: 800px;
    width: 1500px;
    background-color: #D9D9D9;
    margin-top: 200px;
    margin: auto;
    align-content: center;
}

.lbl{
    display: flex;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.cardasto{
    margin-left: 57vh;
    align-content: center;
    
}

input{
    width: 400px;
    height: 30px;
}

.boton{
    background-color: #007B5E;
    color: white;
    height: 50px;
    width: 120px;
    text-align: center;
    margin-top: 60px;
    margin-left: 130px;
    font-size: 40px;
}

